@import "./../../styles/varibles.scss";

.konakt {
    margin: 25px 0px;
	min-height: calc(100vh - var(--fh) - $headerHeight - 40px);
	h1 {
		font-size: 22px;
		padding-bottom: 22px;
	}
	ul {
		list-style-type: none;
		li {
			display: flex;
			padding-bottom: 12px;
			span {
				padding-right: 16px;
			}
		}
	}
	a {
		color: #333;
	}
	.icon {
		display: flex;
	}
	.icons {
		display: flex;
		gap: 15px;
		padding-top: 16px;
		svg {
			height: 42px;
			width: 42px;
		}
	}
}
