@import "./../../styles/varibles.scss";

.slideHolder {
	position: relative;
	overflow: hidden;
	height: calc(60vh - $headerHeight);
	width: 1200px;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 25px;
	box-shadow: 3px 7px 15px rgba(0, 0, 0, 1);
	.text {
		position: absolute;
		font-size: 3rem;
		color: #fff;
		font-weight: 300;
		bottom: 1rem;
		left: 2rem;
		text-align: left;
		text-transform: uppercase;
		text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.9);
		.slideText {
			opacity: 1.7;
		}
	}
	.sliderImg {
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 100%;
	}
}

.slideHolder {
	button {
		display: flex;
		justify-content: flex-start;
		float: right;
		gap: 15px;
		margin-top: 25px;
		align-items: center;
		background-color: $mainColor;
		color: #fff;
		height: 52px;
		padding: 0 16px;
		padding-left: 32px;
		border-radius: 52px;
		border: 0;
		border: 1px solid darken($mainColor, 20%);
		font-size: 1.1rem;
		font-weight: 200;
		box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
		span {
			height: 22px;
			width: 22px;
			background-color: rgba(255, 255, 255, 0.7);
			color: #333 !important;
			border-radius: 22px;
			display: flex;
			text-align: center;
			align-items: center;
		}
	}
}

@media only screen and (max-width: 600px) {
	.slideHolder {
		height: calc(100vh - $headerHeight - 5 * var(--vh));
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		.text {
			position: absolute;
			width: 100%;
			font-size: 3.4rem;
			line-height: 3.1rem;
			color: #fff;
			font-weight: 300;
			bottom: 60px;
			text-align: left;
			left: 15px;
			text-transform: uppercase;
			text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.9);
		}
		.sliderImg {
			position: absolute;
			top: 50%;
			left: 70%;
			transform: translate(-50%, -50%);
			height: 100% !important;
			width: auto;
		}
	}
}
