@import "./../../../styles/varibles.scss";
.productHolder {
	display: flex;
	flex-direction: row;
}
.productImage {
	display: flex;
	flex-direction: column;
	width: 60%;
	// flex: 0.6;
	align-items: center;
	justify-content: center;
}
.productInfo {
	display: flex;
	flex-direction: column;
	gap: 12px;

	h2 {
		font-size: 1.4rem;
		font-weight: 400;
	}
	h3 {
		font-size: 0.9rem;
		font-weight: 300;
	}
	.buy {
		display: flex;
		gap: 12px;
		flex-direction: row;
	}
	.quantity {
		input {
			height: 30px;
			width: 60px;
			text-align: center;
			border-radius: 0;
			border: 0;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		button {
			width: 30px;
			height: 30px;
			border-radius: 0;
			border: 1px solid #ccc;
		}
		button:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
	.order {
		button {
			height: 30px;
			padding: 0px 44px;
			border-radius: 0;
			border: 1px solid darken($primaryBGColor, 10%);
			color: $primaryColor;
			background-color: $primaryBGColor;
		}
		button:hover {
			background-color: darken($primaryBGColor, 10%);
			border-color: darken($primaryBGColor, 20%);
		}
	}
}
.productsLinks {
	position: absolute;
	z-index: 10;
	margin-top: 16px;
	display: flex;
	gap: 8px;
	width: 100%;
	justify-content: center;
}
.productsLinks button {
	display: flex;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	height: 34px;
	padding: 0px 8px;
	font-size: 0.7rem;
	border: 0px;
	outline: 0px;
	color: #fff;
	text-shadow: 1px 2px 0px rgba(0,0,0,0.8);
	transition: all 500ms ease-in-out;
	border: 1px solid darken($mainColor, 20%);
	background-color: lighten($mainColor, 20%);
}
.productsLinks button:hover {
	background-color: $mainColor;
}

@media only screen and (max-width: 600px) {
	.productHolder {
		flex-direction: column;
	}
	.productImage {
		width: 100%;
		padding: 0 15px;
		flex-direction: column;
		justify-content: flex-start;
		h2 {
			font-size: 33px;
		}
		p {
			font-size: 1rem;
			text-align: center;
			font-weight: 300;
		}
		img {
			height: 60%;
		}
	}
}