$mainWidth: 1440px;
$borderColor: #e5e5e5;
$darkBG: #f6f6f6;
$primaryBGColor: #6a1b9a;
$primaryColor: #ffffff;
$headerHeight: 64px;
$headerHeightMobile: 56px;
$secoundHeaderHeightMobile: 62px;
$mainColor: #6a1b9a;