$mainWidth: 1440px;
$borderColor: #e5e5e5;
$darkBG: #f6f6f6;
$primaryBGColor: #6a1b9a;
$primaryColor: #ffffff;
$headerHeight: 64px;
$headerHeightMobile: 56px;
$secoundHeaderHeightMobile: 62px;
$mainColor: #6a1b9a;
$seciondMainColor: rgba(250,250,250,1);
$borderSecoundColor: rgba(219,219,219,1);
$linkColor: rgb(0, 149, 246);